<template>
  <div class="container">
    <div>
      <logo />
      <h1 class="title">example app</h1>
      <h2 class="subtitle">the start</h2>
      <div class="links">
        <a href="https://google.com/" target="_blank" class="btn btn--red"
          >Red Button</a
        >
        <a href="https://facebook.com" target="_blank" class="btn btn--blue"
          >Blue Button</a
        >
      </div>
    </div>
  </div>
</template>

<script>
import Logo from '~/components/Logo.vue'

export default {
  components: {
    Logo
  }
}
</script>

<style>
/* Sample `apply` at-rules with Tailwind CSS
.container {
  @apply min-h-screen flex justify-center items-center text-center mx-auto;
}
*/
.container {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  font-family: 'Quicksand', 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  display: block;
  font-weight: 300;
  font-size: 100px;
  color: #35495e;
  letter-spacing: 1px;
}

.subtitle {
  font-weight: 300;
  font-size: 42px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.links {
  padding-top: 15px;
}

.btn {
  @apply font-bold py-2 px-4 rounded;
}

.btn--blue {
  @apply bg-blue-500 text-white;
}

.btn--blue:hover {
  @apply bg-blue-700;
}

.btn--red {
  @apply bg-red-500 text-white;
}

.btn--red:hover {
  @apply bg-red-700;
}
</style>
